@*@model PingPong.ViewModel.PlayerViewModel*@
@model PingPong.Models.Player

@{
    ViewBag.Title = "Player Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player Details</h2>
<hr />
<div>
    <h4>@Model.FirstName @Model.LastName</h4>

    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
