@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ping Pong </h1>
    <p class="lead">Welcome to Ping Pong!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start Playing &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Good afternoon. 
            We're going to have a great game today.
            Okay, first crank a cutback as you hit the wall.
            There's a screaming bottom curve, so watch out.
        </p>
        <p>
            Remember: rip it, roll it, and punch it!
        </p>
        <p>
            @Html.ActionLink("Create New Game", "Create", "Games")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make a team</h2>
        <p>
            It's dangerous to go alone! 
        </p>
        <p>
            Add players or create teams so you can challenge each other and establish dominance.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">How to add teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>
            Which team reigns supreme? 
        </p>
        <p>
            Find out who you need to defeat to get the top spot.
        </p>
        <p>
            @Html.ActionLink("See Games", "Index", "Games")
        </p>
    </div>
</div>