@model PingPong.ViewModel.PlayerViewModel

@{
    ViewBag.Title = "Players";
}
<h2>@ViewBag.Title - I am your Title</h2>
<h3>@ViewBag.Message</h3>



<ul>
    @foreach (var player in Model.Players)
    {
        <li>@player.FirstName</li>
    }
</ul>